@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0a0a0f;
  color: #ffffff;
}

body {
  @apply text-white bg-brand-dark selection:bg-brand-pink selection:text-white;
}